<div class="new-match-page">
  <div class="players">
    <h1> New {{this.type}} Match </h1>
    <app-team-list *ngIf="this.players as players" [players]="players"></app-team-list>
    <form>
      <h4>Game Type</h4>
      <mat-form-field>
        <mat-label>Select Game Type</mat-label>
        <mat-select [(ngModel)]="selectedGameType" name="food">
          <mat-option *ngFor="let gameType of gameTypes" [value]="gameType.value">
            {{gameType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

<div class="mission">
  <div class="rerollable-section">
    <h4>Mission</h4>
    <div class="reroll">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dice"
        class="svg-inline--fa fa-dice fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path fill="currentColor"
          d="M592 192H473.26c12.69 29.59 7.12 65.2-17 89.32L320 417.58V464c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48V240c0-26.51-21.49-48-48-48zM480 376c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm-46.37-186.7L258.7 14.37c-19.16-19.16-50.23-19.16-69.39 0L14.37 189.3c-19.16 19.16-19.16 50.23 0 69.39L189.3 433.63c19.16 19.16 50.23 19.16 69.39 0L433.63 258.7c19.16-19.17 19.16-50.24 0-69.4zM96 248c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm128 128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm0-128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm0-128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm128 128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z">
        </path>
      </svg>
    </div>
  </div>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let mission of this.missions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{mission.name}}
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div [innerHTML]="mission.description | safeHtml"></div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="deployment">
  <div class="rerollable-section">
    <h4>Deployment</h4>
    <div class="reroll">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dice"
        class="svg-inline--fa fa-dice fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path fill="currentColor"
          d="M592 192H473.26c12.69 29.59 7.12 65.2-17 89.32L320 417.58V464c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48V240c0-26.51-21.49-48-48-48zM480 376c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm-46.37-186.7L258.7 14.37c-19.16-19.16-50.23-19.16-69.39 0L14.37 189.3c-19.16 19.16-19.16 50.23 0 69.39L189.3 433.63c19.16 19.16 50.23 19.16 69.39 0L433.63 258.7c19.16-19.17 19.16-50.24 0-69.4zM96 248c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm128 128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm0-128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm0-128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24zm128 128c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z">
        </path>
      </svg>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let deployment of this.deployments">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{deployment.name}}
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="~/src/assets/Horus.png">
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="secondary1">
  <h4>Secondary Mission Objectives</h4>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let secondary of this.secondaries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{secondary.name}}
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{secondary.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="secondary2">
  <h4>Secondary Mission Objectives</h4>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      *ngFor="let secondary of this.secondaries">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{secondary.name}}
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{secondary.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
