$color: #707070;
$base-color: rgba($color, 0.4);
$base-hover: rgba($color, 0.70);
$necron-color: #68c004;
$thounsandsons-color: #09d2dc;
$adeptusMilitarium-color: #093816;
$custodes-color: #ffea22;
$ultra-marine-color: #0020ff;

.hexmap{
  padding: 35px;
  position: relative;
  display: block;
  overflow:auto
}

.map-container
{
    display: flex; /* or inline-flex */
    justify-content:flex-start;
    align-items:center;
    width:69em; 
    flex-wrap:wrap;
    flex-direction:row;
    margin: 20px auto;
   background-image: url('../../../assets/An\ Alir\ Nov25\ 22-47.png');
   background-repeat: no-repeat;
   background-repeat: no-repeat;
   background-clip: border-box;
   background-size: cover;
   padding: 2em 0 2em 7em;
   box-shadow: 13px 17px 38px -4px rgba(117,117,117,0.65);
   app-tile:nth-child(7), app-tile:nth-child(19){
    margin-left:84px;
    }


}

