<div class="grid-container">
    <div class="grid-header">
        <h1>Campaign List</h1></div>
    <div class="grid-main">
        <div class="card-container">
            <mat-card *ngFor="let board of boards; let i = index">
                <mat-card-header><h2>{{ board.title }}</h2></mat-card-header>
                <mat-card-actions>
                    <a mat-stroked-button color="basic" routerLink="/campaign/{{board.id}}">Map</a>
                    <a mat-stroked-button color="basic" routerLink="/campaign/{{board.id}}">Narration</a>
                    <a mat-stroked-button color="basic" routerLink="/campaign/{{board.id}}">League Table</a>
                    <a mat-stroked-button color="basic" routerLink="/campaign/{{board.id}}">History</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="grid-footer"></div>
</div>